* {
  box-sizing: border-box;
}

.column {
  float: left;
  /*width: 25%;*/
  padding: 5px;
  width:100px; 
  height:100px;
}

 Clearfix (clear floats) 
.row::after {
  content: "";
  clear: both;
  display: table;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif; text-align: justify; text-justify: inter-word;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}



